<div class="ui-g-row">
  <div class="ui-g-6 ui-g-offset-3">
    <h3>Dependencies</h3>
    <ul>
      <li><a target="_blank" href="https://angular.io/">Angular</a></li>
    </ul>

    <h3>
      NPM url: <a href="https://www.npmjs.com/package/ng-accordion" target="_blank">https://www.npmjs.com/package/ng-accordion</a>
    </h3>

    <h3>
      Library Repo: <a href="https://github.com/seshasui/ng-accordion-library" target="_blank">Github</a>
    </h3>

    <h3>
      Demo Repo: <a href="https://github.com/seshasui/ng-accordion-library" target="_blank">Github</a>
    </h3>
  </div>
</div>
